<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=31.147.206.65,1433;Initial Catalog=PI2324_mcvitan21_DB;User ID=PI2324_mcvitan21_User;Password=G45:$ddf;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>